<nav>
    <ul>
        <li> <a href ="/" >Spidy</a> </li>
        <li> <a href ="/dude" > Dude </a></li>
        <li> <a href ="/profile/nik" > Nikhil's Profile </a></li>
        <li> <a href="/slideShow"> Slide Show</a> </li>
        <li> <a href="/todo"> Todo App</a> </li>

    </ul>
</nav>