<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="cssFiles/styles.css">

</head>
<body>
<% include partials/nav.ejs %>

<p>
<h1><img src ="2.gif"> Spiderman</h1>
<p>Your friendly neighbourhood Spiderman</p>



</body>
</html>